button{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}

button:hover{
    cursor: pointer;
}

button:active{
        scale: calc(1.1);
}

.cookieBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}