button{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}

button:hover{
    cursor: pointer;
}

button:active{
        scale: calc(1.1);
}

.cookieBody{
  padding-bottom: 5rem;
}